bd1=DEBUG_ADAPTER_ID=01234567 DEVEUI=AAAAAAAAAAAAAAAA APPEUI=BBBBBBBBBBBBBBBB APPKEY=CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
bd2=BOARD=samr34-xpro DEBUG_ADAPTER_ID=XXXXXXXX PORT=/dev/ttyACM0 DEVEUI=AAAAAAAAAAAAAAAA APPEUI=BBBBBBBBBBBBBBBB APPKEY=CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
